<svg width="350" height="150" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="350" height="150">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            <style>
                .main {
                    width: 330px;
                    height: 130px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(37, 37, 37);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                }
                .currentStatus {
                    float: left;
                    font-size: 24px;
                    position: static;
                    margin-top: -5px;
                    margin-left: 10px;
                }
                .container {
                    width: 350px;
                    height: 150px;
                    border-radius: 10px;
                    background-color:#000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .content {
                    width: 71%;
                }
                .song {
                    color: #f7f7f7;
                    overflow:hidden;
                    margin-top: 3px;
                    font-size: 24px;
                    text-align: center;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                }
                .artist {
                    color: #9f9f9f;
                    font-size: 20px;
                    margin-top: 4px;
                    text-align: center;
                    margin-bottom: 5px;
                }
                .cover {
                    width: 103px;
                    height: 103px;
                    border-radius: 10px;
                    overflow: hidden;
                }
                .cover img{
                    width: 100%;
                    height: 100%;
                }
                #bars {
                    width: 40px;
                    height: 30px;
                    bottom: 23px;
                    position: absolute;
                    margin: -20px 0 0 0px;
                }
                .bar {
                    width: 3px;
                    bottom: 1px;
                    height: 3px;
                    position: absolute;
                    background: #1DB954cc;
                    animation: sound 0ms -800ms linear infinite alternate;
                }
                div {
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
                }
                @keyframes sound {
                    0% {
                        height: 3px;
                        opacity: .35;
                    }

                    100% {
                        height: 15px;
                        opacity: 0.95;
                    }
                }
                {{barCSS|safe}}
            </style>

            <!-- <div class="currentStatus">{{status}}</div> -->

            <div class="main">
                <a class="art" href="{}" target="_blank">
                    <center>
                        <img src="data:image/png;base64, {{image}}" class="cover" />
                    </center>
                </a>

                <div class="content">
                    <div class="song">{{songName}}</div>
                    <div class="artist">{{artistName}}</div>
                    <div id="bars">{{contentBar|safe}}</div>
                </div>
            </div>

        </div>
    </foreignObject>
</svg>
